.navbar {
    margin-top: 2rem;
}

.navbarContactBox{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: darkcyan;
    height: 3rem;
    font-weight: 500;
    color: #f0f0f0;
}

.navbarContact{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.brandPizza{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-right: 16px;
    font-size: 16px;
    background-color: darkcyan;
    color: #f0f0f0;
    padding: 5px;
}

.brandPizza img{
    padding-top: 10px;
    height: 42px;
    width: 42px;
}

@media only screen and(max-width:600px){
    .brandPizza img{
        font-size: 12px;
        padding:0;
        text-align: center;
    }

    .brandPizza img{
        height:32px;
        width: 32px;
    }
}